body{
    background-color: lightblue;
}
.white{
    color: white;
    text-align: center;

}
.heading2{
    color: red;;
}
.centre{
    color: red;
    text-align: center;
}
.unorderedlist{
    background-color: coral;
    padding: 10px;
}
.orderedlist{
    background-color: cornflowerblue;
    padding: 10px
}
.bgblue{
    background-color: deepskyblue;
    margin: 5px 5px 5px 5px;
    }

.bgorange{
    background-color: lightsalmon;
}