
body{
    background-color: lightslategray;
}
.container{
    display: flex;
    width: 100%;
}
.leftcolumn{
    color: whitesmoke;
    flex:1;
    padding: 20px;
    background-color: black;
}
.rightcolumn{
    flex: 3;
    padding: 20px;
    background-color: lightcyan;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

h1{
    color: black;
    padding-top: 20px;
    padding-left: 150px;

}
h3{
    text-decoration: underline;
}
img{
    border-radius: 50%;
    margin-top: 17px;
    margin-left: 20px;
    width: 140px;
}
.titleimage{
 
    height: 120px;
    width: 120px;
    position: absolute;

}
.title{
    height: 170px;
    width: 100%;
    background-color:lightgoldenrodyellow;
   
    padding-top: 30px;
    }
.subbox{
    height: 60px;
    width: 70%;
    margin-left: 65px;
    background-color: lightskyblue;
}
